body {
    text-align: center;
    padding: 5px 5%;
    background-image: url('../img/bg1.svg');
    background-size: 100%;
    color: white;
    font: 12pt 'Trebushet MS'
}

header>h1 {
    text-shadow: 2px 2px grey;
}

nav {
    padding: 10px;
}

nav a {
    color: #6494ED;
    text-decoration: none;
    padding: 10px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

header {
    padding-top: 30px;
}